*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}
body{
    background-color: rgb(20, 20, 50);
}

/* header */
.header{
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent;
    background-color: rgb(5, 5, 72);
    padding-bottom: 20px;
}
.logo{
    margin-top: 2%;
    margin-left: 4.5%;
    font-size: 44px;
    text-decoration: none;
    letter-spacing: 0.1ch;
    font-weight: 700;
    color: #ededed;
    opacity: 0;
    transition: all .5s ease;
    animation: logo 1s ease 1 forwards;
}
.logo:hover{
    font-size: 55px;
    text-shadow: 20px 20px 100px rgb(0, 255, 295),
    20px -20px 100px rgb(0, 255, 295),
    -20px 20px 100px rgb(0, 255, 295),
    -20px -20px 100px rgb(0, 255, 295);
}
@keyframes logo {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.navBar{
    margin-right: 10%;
    margin-top: 2.3%;
    word-spacing: 1cm;
    /* opacity: 1; */
    /* animation: navbar 1s ease forwards .3s; */
}
.navBar a{
    padding: 0 10px;
    text-decoration: none;
    font-size: 28px;
    letter-spacing: .1em;
    font-weight: 600;
    color: #ededed;
    transition: all .5s linear;  
    animation: fromUpMenu .5s ease forwards;
    animation-delay: calc(.1s * var(--i));
    opacity: 0;
}
@keyframes fromUpMenu{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.navBar a:hover{
    font-size: 35px;
    text-shadow: 10px 10px 50px rgb(0, 255, 295),
    10px -10px 50px rgb(0, 255, 295),
    -10px 10px 50px rgb(0, 255, 295),
    -10px -10px 50px rgb(0, 255, 295);

}

.menuIcon{
    color: black;
    margin-top: 3%;
    margin-right: 5%;
    display: none;
    cursor: pointer;
    color: #ededed;
}
.menuContainer{
    position: fixed;
    right: 0;
    display: none;
    flex-wrap: wrap;
    /* z-index: 1; */
    flex-direction: column;
    height: 100vh;
    width: 45%;
    backdrop-filter: blur(15px);
    background-color: rgba(4, 4, 54, 0.37);
}
.menuContainer a, .closeMenuIcon{
    display: flex;
    margin-left: 7%;
    margin-top: 7%;
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
    z-index: 999;
    color: #ededed;  
    transition: all .5s linear; 
    animation: openSideBar 2s linear backwards;
}


.menuContainer a:hover, .closeMenuIcon:hover{
    font-size: 35px;
    text-shadow: 10px 10px 50px rgb(0, 255, 295),
    10px -10px 50px rgb(0, 255, 295),
    -10px 10px 50px rgb(0, 255, 295),
    -10px -10px 50px rgb(0, 255, 295);
    
}
.menuContainer{
    /* box-shadow: -20px 0 80px rgba(0, 0, 0, 0.785); */
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan;
    animation: openSideMenu .3s linear .2s forwards;
    animation-delay: calc(.1s * var(--i));
    opacity: 0;
}
@keyframes openSideMenu {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.closeMenuIcon{
    padding: 15px 0;
}
.closeMenuIcon span{
    cursor: pointer;
    font-size: 40px;
    font-weight: 800;
}

@media (max-width: 1265px){
    .logo{
        font-size: 37px;
        margin-top: 3%;
    }
    .navBar{
        display: none;
    }
    .menuIcon{
        display: flex;
    }
    .menuIcon span{
        font-size: 40px;
        font-weight: 800;
    }
    .menuContainer{
        display: none;
    }
    .navBar{
        margin-top: 4.5%;
    }
}


/* body */

.photoContainer, .myPhoto{
    height: 650px;
    width: 650px;
    border-radius: 50%;
    z-index: -1;
    background-color: rgb(8, 165, 165);
    box-shadow: 50px 50px 500px rgb(0, 255, 295),
    50px -50px 500px rgb(0, 255, 295),
    -50px 50px 500px rgb(0, 255, 295),
    -50px -50px 500px rgb(0, 255, 295);
    animation: imageMoreInfo 1s linear .3s forwards;
    opacity: 0;
}
@keyframes imageMoreInfo {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.myPhoto{
    padding: 20px;
    border: 6px solid white;
    box-shadow: inset 7px 7px 10px rgb(237, 0, 79),
    inset -7px -7px 10px rgb(237, 0, 79);
    opacity: 0;
}


.homeContent{
    display: flex;
    z-index: -1;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin: 4.5% 10%;
}
@media(max-width: 1222px){
    .photoContainer, .myPhoto{
        height: 500px;
        width: 500px;
    }
}
@media (max-width: 999px){
    .photoContainer, .myPhoto{
        height: 450px;
        width: 450px;
    }
}
@media (max-width: 768px){
    .photoContainer, .myPhoto{
        height: 350px;
        width: 350px;
    }
    .logo{
        font-size: 30px;
    }
    .homeContent{
        padding: 20px 0;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    .homeInfo{
        font-size: 15px;
        text-align: center;
    }
    .contactIcons{
        margin-left: 10%;
    }
}
@media (max-width: 500px){
    .photoContainer, .myPhoto{
        height: 250px;
        width: 250px;
    }
    .homeInfo{
        font-size: 10px;
        text-align: center;
    }
    
}
.homeInfo{
    color: #ededed;
    font-weight: 700;
}
.firstText{
    font-size: 1.9em;
    line-height: 1.45cm;
    opacity: 0;
    animation: fromUp 1s ease forwards .3s;
}
@keyframes fromUp{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.name{
    font-size: 3.3em;
    line-height: 1.45cm;
    opacity: 0;
    animation: fromLeft 1s ease forwards .3s;
}
@keyframes fromLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.profession{
    font-size: 2.2em;
    line-height: 1.45cm;
    padding-bottom: 10px;
    opacity: 0;
    animation: fromUp 1s ease forwards .3s;
}

.paragraph{
    font-size: 1.3em;
    line-height: .8cm;
    opacity: 0;
    animation: fromDown 1s ease forwards .3s;
}
@keyframes fromDown{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.contactIcons a{
    color: cyan;
    border: 2px solid cyan;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    background: transparent;
    color: cyan;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: all .5s linear;
    animation: fromRight .5s ease forwards;
    animation-delay: calc(.1s * var(--i));
    opacity: 0;
}
@keyframes fromRight{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.contactIcons a:hover{
    background: #0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
    width: 50px;
    height: 50px;
}
.moreAbout{
    display: inline-flex;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: all .5s linear;
    opacity: 0;
    animation: fromDownButton 1s linear forwards .3s;
}
@keyframes fromDownButton {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.moreAbout:hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan; 
}
.mainDiv{
    display: flex;
    justify-content: space-evenly;
    margin: 0 12%;
    margin-top: 17%;
}
.photoContainer2, .myPhoto2{
    height: 450px;
    width: 450px;

    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #0ef;
    box-shadow: inset 7px 7px 10px rgb(237, 0, 79),
    inset -7px -7px 10px rgb(237, 0, 79);
    opacity: 0;
    animation: fromLeftImage 1s linear .3s forwards;
}
@keyframes fromLeftImage {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
.myPhoto2{
    padding: 15px;
}
.photoContainer2{
    margin-right: 100px;
}
@media (max-width: 1370px) {
    .photoContainer2{
        margin-top: 25%;
    }
    .photoContainer2, .myPhoto2{
        height: 449px;
        width: 449px;
    }
    
}
@media (max-width: 1222px){
    .photoContainer2{
        display: none;
    }
    .mainDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.infoContainer{
    border: 5px solid #fff;
    border-top-left-radius: 49px;
    border-top-right-radius: 49px;
    border-bottom-left-radius: 49px;
    border-bottom-right-radius: 49px;
    font-size: 2.3em;
    padding: 50px;
    line-height: 1.3cm;
    color: #ededed;
    margin: 10% 0;
    background-color: rgba(0, 238, 255, 0.187);
    backdrop-filter: blur(30px);
    box-shadow: 0 25px 30px cyan;
    animation: fromDownInfo 1s linear 1s forwards;
    cursor: pointer;
    opacity: 0;
    transition: all 2s ease;
    
}
.infoContainer:hover{
    font-size: 2.4em;
    box-shadow: 0 -25px 30px cyan;

}
@keyframes fromDownInfo {
    0%{
        transform: translateY(100px);
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@media (max-width: 586px){
    .infoContainer{
        height: 250px;
        font-size: 1em;
        line-height: .5cm;
        padding: 20px;
        border: 3px solid #fff;
        margin-bottom: 20px;
        /* box-sizing: border-box; */
        /* margin: 0 20px; */
    }
    .mainDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10% 40px;
        /* box-sizing: border-box; */
        
    }
    
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.subTitle{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;

}
.subTitle span{
    color: #0ef;
}
.container{
    padding: 90px;
    color: #fff;
}
.servicesList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.servicesList div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b0f7;
}
.servicesList div i{
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 500;
}
.servicesList div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: fromDownButton 1s ease forwards;
    animation-delay: 1.3s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.read:hover{
    box-shadow: 0 0 5px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan; 
}
.servicesList div:hover{
    transform: translateY(-10px);
}
@media (max-width: 568px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* .section{
    display: flex;
    flex-wrap: wrap;
} */

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    color: white;
    align-self: center;
    /* width: 100vw; */
}

.bar{
    font-size: 23px;
    margin-bottom: 29px;
}
.technicalBar .bar{
    margin-top: 40px 0;
}

.technicalBar .bar:first-child{
    margin-top: 0;
}
.technicalBar .bar:last-child{
    margin-bottom: 0;
}
.technicalBar .bar .info{
    margin-bottom: 5px;

}
.technicalBar .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.technicalBar .bar .progressLine{
    position: relative;
    border-radius: 10px;
    height: 5px;
    width: 100%;
    background-color: black;
    animation: animate 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }

}
.technicalBar .bar .progressLine span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s linear forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progressLine.html span{
    width: 90%;
}
.progressLine.css span{
    width: 70%;
}
.progressLine.javascript span{
    width: 60%;
}
.progressLine.python span{
    width: 70%;
}
.progressLine.java span{
    width: 70%;
}
/* progress::-webkit-progress-value { 
    background: cyan; 
    border-radius: 6px;
} 
progress{
    background-color: black;
    border-radius: 10px;
}
progress::-webkit-progress-bar{
    border-radius: 10px;
} */

.progressLine span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: black;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -28px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progressLine.html span::after{
    content:"90%";
}
.progressLine.css span::after{
    content:"70%";
}
.progressLine.javascript span::after{
    content:"60%";
}
.progressLine.python span::after{
    content:"70%";
}
.progressLine.java span::after{
    content:"70%";
}
.progressLine span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: black;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.radialBars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radialBars .radialBar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radialBars .radialBar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radialBars .radialBar .progressBar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-linecap: round;
}
.path1{animation: animatePath1 1s 1s linear forwards;}
.path2{animation: animatePath2 1s 1s linear forwards;}
.path3{animation: animatePath3 1s 1s linear forwards;}
.path4{animation: animatePath4 1s 1s linear forwards;}

@keyframes animatePath1 {
    100%{
        stroke-dashoffset: 80;
        /* stroke-dasharray: 50; */
    }
}
@keyframes animatePath2 {
    100%{
        stroke-dashoffset: 160;
    }
}
@keyframes animatePath3 {
    100%{
        stroke-dashoffset: 62;
    }
}
@keyframes animatePath4 {
    100%{
        stroke-dashoffset: 40;
    }
}
.radialBar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radialBar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translate(-100px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 10px;
    color: white;
}